@import "../../sass/utilities/variables";
@import "../../sass/utilities/mixins";

.open-contact-button {
  color: $white;
  border-color: $white;
  background: linear-gradient(
    to left,
    rgba(217, 74, 25, 0.9) 60%,
    rgba(217, 74, 25, 0.5) 90%
  );
  display: block;
  overflow: visible;

  &:active,
  &:focus {
    outline: 0;
    border: $focus-outline;
  }
}
