@import "../../sass/utilities/variables";
@import "../../sass/utilities/mixins";

.work-item {
  margin: 0;
  opacity: 0;
  transform: translateY(20px);

  .sal-animate  {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.5s ease-in-out;
  }
}

.work-item__inner {
  width: 100%;
  margin: 3rem 0 2rem 0;
  border: 1px solid $grey;
  border-radius: 5px;
  padding: 2rem;
  display: flex;
  flex-direction: column;

  @include breakpoint(md) {
    right: 25px;
    flex-direction: row;
  }
}

.work-item__left-col {
  position: relative;

  @include breakpoint(md) {
    margin-right: 30px;
  }
}

.work-item__img-wrapper {
  // padding: 1rem;
  max-height: 300px;
  overflow: hidden;
  text-align: center;

  @include breakpoint(md) {
    padding: 1rem;
    // border: 1px solid $grey;
  }
}

.work-item__right-col {
  position: relative;
  flex: 1;
  justify-content: flex-end;
}

.work-item__year {
  margin: 0;
  padding: 0;
  font-size: 6rem;
  font-weight: bold;
  color: $grey-dark;
  opacity: 0.7;
  line-height: 1;
  text-align: right;
  position: relative;
  top: 20px;

  @include breakpoint(sm) {
    font-size: 6rem;
    text-align: right;
  }
}

.work-item__title {
  font-weight: bold;
  line-height: 1.2;

  @include breakpoint(sm) {
    font-size: 2.8rem;
  }
}

a.work-item__archive-link {
  color: $white;
  border: 1px solid $white;
  background-color: rgba(217, 74, 25, 0.9);
  display: inline-block;
  padding: 1rem;
  text-decoration: none;

  &:active,
  &:hover {
    color: $white;
    text-decoration: underline;
  }

  &:visited {
    color: $white;
  }
}

.work-item__link {
  margin-top: 1rem;
  a {
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
}
