@import "../../sass/utilities/variables";
@import "../../sass/utilities/mixins";

.drawer-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid $white;
  margin: 1rem 0;

  &:focus {
    outline: 2px solid $red;
  }
}

@media (min-width: 768px) {
  .drawer-toggle {
    display: none;
  }
}

.drawer-toggle .bar {
  width: 24px;
  height: 2px;
  margin: 4px 0;
  background-color: white;
}
